In [133]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [134]:
df = pd.read_csv('C:\\Users\\rahul\\OneDrive\\Documents\\customer_care_churn\\data\\raw_data.csv')

In [135]:
df.head()

,CustomerID,Age,Gender,Tenure_Months,Monthly_Charges,Contract_Type,Internet_Service,Tech_Support,Payment_Method,Churn
0,1,56,Female,22,25.60,Two Year,DSL,Yes,Bank Transfer,No
1,2,69,Male,49,50.79,Month-to-Month,DSL,No,Mailed Check,Yes
2,3,46,Male,28,87.80,One Year,No,No,Bank Transfer,No
3,4,32,Male,16,99.87,Two Year,DSL,No,Bank Transfer,No
4,5,60,Female,68,104.86,Month-to-Month,DSL,No,Credit Card,Yes

In [136]:
df['Payment_Method'].unique()

<StringArray>
['Bank Transfer', 'Mailed Check', 'Credit Card', 'Electronic Check']
Length: 4, dtype: str

In [137]:
df['Internet_Service'].unique()

<StringArray>
['DSL', 'No', 'Fiber Optic']
Length: 3, dtype: str

In [138]:
df['Contract_Type'].unique()

<StringArray>
['Two Year', 'Month-to-Month', 'One Year']
Length: 3, dtype: str

In [139]:
df.duplicated().sum()

np.int64(0)

In [140]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerID        20000 non-null  int64
 1   Age               20000 non-null  int64
 2   Gender            20000 non-null  str
 3   Tenure_Months     20000 non-null  int64
 4   Monthly_Charges   20000 non-null  float64
 5   Contract_Type     20000 non-null  str
 6   Internet_Service  20000 non-null  str
 7   Tech_Support      20000 non-null  str
 8   Payment_Method    20000 non-null  str
 9   Churn             20000 non-null  str
dtypes: float64(1), int64(3), str(6)
memory usage: 1.5 MB

In [141]:
df.drop(columns=['CustomerID'], inplace=True)

In [142]:
df.nunique()

Age                   57
Gender                 2
Tenure_Months         71
Monthly_Charges     9155
Contract_Type          3
Internet_Service       3
Tech_Support           2
Payment_Method         4
Churn                  2
dtype: int64

In [143]:
import os 

os.makedirs('C:\\Users\\rahul\\OneDrive\\Documents\\customer_care_churn\\data', exist_ok=True)

df.to_csv('C:\\Users\\rahul\\OneDrive\\Documents\\customer_care_churn\\data\\cleaned_data.csv', index=False)

In [121]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer

num_transformer = StandardScaler()
cat1_transformer = OneHotEncoder(handle_unknown='ignore')
cat2_transformer = OrdinalEncoder()

preprocessor = ColumnTransformer(
    transformers=[
        ('onehot', cat1_transformer, ['Internet_Service', 'Contract_Type', 'Payment_Method']),
        ('ordinal', cat2_transformer, ['Gender', 'Tech_Support']),
        ('num', num_transformer, ['Age', 'Tenure_Months', 'Monthly_Charges'])
    ]
)

In [122]:
le = LabelEncoder()
df['Churn'] = le.fit_transform(df['Churn'])

In [ ]:
X = df.drop(columns=['Churn'])
y = df['Churn']

X = preprocessor.fit_transform(X)

In [127]:
X

array([[ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         6.09186813e-01, -6.76681952e-01, -1.24100038e+00],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         1.40131978e+00,  6.40726461e-01, -4.48073444e-01],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00, ...,
        -1.46239933e-04, -3.83924527e-01,  7.16921635e-01],
       ...,
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00, ...,
        -1.21881235e+00, -4.81510335e-01, -6.89823301e-01],
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00, ...,
        -6.10795452e-02,  1.17744841e+00, -6.22460711e-01],
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00, ...,
        -6.09479293e-01, -8.71853568e-01, -3.34753199e-01]],
      shape=(20000, 15))

In [128]:
y

0        0
1        1
2        0
3        0
4        1
        ..
19995    1
19996    1
19997    1
19998    0
19999    1
Name: Churn, Length: 20000, dtype: int64